body {
    margin:0px;
    background-image:url("http://workstuff.net/justimghost/bg_bluer_2200.jpg");
    background-repeat:no-repeat;
    overflow-y:hidden; /*temporarily hide scrollbar*/}
  
  
  /*TYPOGRAPHY===================*/
  h2{  
    color: #585858;
    font-family: 'Avenir W01', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    margin-bottom:4%;}
  
  p{  
    color: #999;
    font-family: 'Avenir W01', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;}
  
  p.list {
    color:#585858;
    font-size:16px;}
  
  p.listTitle{
    font-family: "Avenir W01";
    font-size:18px;
    color: #585858;
    font-weight: 500;
    line-height: 24px;
    text-align: left;}
  
  a:link {
    text-decoration: none;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #4cb2e1;
    font-size: 18px;
    font-family: Avenir W01;
    font-weight: 400; }
  a:visited {
    color: #4cb2e1; }
  
  
  /*FOR FORM FIELD INSTRUCTION TEXT*/
  p.hint {
    font-family:'Avenir W01';
    font-size:16px;
    color:#c9c9c9;}
  
  /*FOR FORM FIELD ENTRY TEXT*/
  p.entry {
    font-family:'Avenir W01';
    font-size:16px;
    color:#333;}
  
  p.additional {
    font-family:'Avenir W01';
    font-size:16px;
    color:#333;
    text-align:left;
  }
  
  /* HEADER ================*/
  .header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: #4cb2e1;
    box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 1px 1px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: "Avenir W01";
    font-weight: 400; }
  
  .headertitle {
    font-family: "Avenir W01";
    font-weight: 400;
    padding-top:16px; }
  
  .iconbtn {
    padding-top:16px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    font-family: FontAwesome, sans-serif;
    font-size: 25px;
    font-weight: 400;}
  
  .iconbtn:hover {
    background-color: rgba(88, 88, 88, 0.15);}
  
  .iconbtn:active {
    background-color: rgba(88, 88, 88, 0.35);}
  
  .iconbtn.back {
    float: left;
    text-align: center;}
  
  .iconbtn.hamburg {
    float: right;
    text-align: center;}
  
  
  /* CONTENT ================*/
  .container{
    width:100%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    height:100vh;
    box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 0px 2px;
    background-color:#fafafa;}
  
  
  /* FORM ELEMENTS ================*/
  .form {
    padding-top:6%;
    padding-bottom: 4%;
    padding-left:6%;
    padding-right:6%;}
  
  .form-label {
    height:22px;
    font-family:'Avenir W01';
    font-size: 14px;
    color:#999999;}
  
  .form-field {
    height:50px;
    width:100%;
    border:1px solid #d9d9d9;
    box-sizing:border-box;
    padding: 0px 12px;
    background-color:white;
    margin-bottom:4%;}
  
  .form-field-short {
    height:50px;
    width:50%;
    border:1px solid #d9d9d9;
    box-sizing:border-box;
    padding: 0px 12px;
    background-color:white;
    margin-bottom:4%;}
  
  /*FORM FIELD FOCUS STATE*/
  .form-field-focus {
    height:50px;
    width:100%;
    border:1px solid #4cb2e1;
    box-sizing:border-box;
    padding: 0px 12px;
    background-color:white;
    margin-bottom:4%;}
  
  
  /*FORM FIELD UNEDITABLE EMAIL FIELD*/
  .form-noEdit{
    height:50px;
    width:100%;
    border:1px;
    padding: 0px;
    background-color:none;
    margin-bottom:0;}
  
  
  /*PASSWORD ENTRY POPUP====START*/
  #passwordhint {
    width:100%;
    background-color:#fff;
    box-sizing:border-box;
    padding-right:12px;
    margin-bottom:4%;
    margin-top:-4%;
    border:1px solid #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 1px;}
  
  #additional {
    width:100%;
    box-sizing:border-box;
    padding-right:12px;
    margin-bottom:4%;
    margin-top:8%;
    font-family:'Avenir W01';
    font-size:16px;
    line-height:24px;
    color:#585858;
    text-align:left;}
  
  #logobar {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:6%;
    margin-bottom:2%;
    width:400px;
    height:60px;
    background:#c9c9c9;
  }
  
  ul.password {
    font-family:'Avenir W01';
    font-size:14px;
    line-height:18px;
    color:#585858;}
  
  .question {
    color:#4cb2e1;
    float:right;
    font-family:'FontAwesome';
    font-size:26px;
    line-height:18px;}
  
  .question:hover {
    color:#70C1E7;
    font-size:32px;}
  
  /*PASSWORD ENTRY POPUP====END*/
  
  
  /*TERMS CHECKBOX==================*/
  .termscheck {
    display:inline;
    height:40px;
    font-family:'Avenir W01';
    font-size:16px;
    color:#585858;
    margin-bottom:12px;}
  
  
  /*BUTTON - ==============*/
  .btn-dark {
    box-sizing:border-box;
    width:100%;
    max-width:600px;
    margin:12px auto 0px;
    padding-top:12px;
    color:#fff;
    font-family:'Avenir W01';
    font-weight:medium;
    font-size:20px;
    text-align:center;
    background-color:#585858;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 1px 1px;}
  
  .btn-dark:hover {
    background-color:#4f4f4f; 
  }
  .btn-dark:active {
    background-color:#333333;
  }
  
  
  
  /*THIS PINS THE BUTTON TO THE BOTTOM ==============*/
  .btn-box {
    position:absolute;
    bottom:2%;
    left:2%;
    right:2%;
    text-align:center;}
  
  
  
  