<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>change-password</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="old-password">old-password</label>
        <input type="password" name="old-password"><br>
        <label for="new-password">new-password</label>
        <input type="password" name="new-password"><br>
        <label for="c-password">confirm-new-password</label>
        <input type="password" name="confirm-new-password"><br>
        <button>submit</button>
    </form>
</body>
</html>