{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Change</title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}" type="text/css" />
  
</head>
<body>
  <div class="container">
    <form method="post">
        {% csrf_token %}
        <label for="new-password">New Password:</label>
        <input type="password" name="new-password" id="new-password"><br>

        <label for="confirm-new-password">Confirm New Password:</label>
        <input type="password" name="confirm-new-password" id="confirm-new-password"><br>
        
        <button>Submit</button>
    </form>
  </div>
</body>
</html>
